@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /*      Main Colors     */
  --background: #dde4fb;
  --elevation100: #acbcf3;
  --elevation200: #859bed;
  --elevation300: #5e78e7;
  --elevation400: #3f51e7;
  --elevation500: #2429ce;
  --elevation600: #0c226e;
}
